<template>
  <div class="div">
    <div class="about-container">
      <NavMenu class="invert-white"></NavMenu>
      <div class="content">
        <div class="about">
          <div class="container">
            <div class="flex about-flex">
              <div class="text flex-1">
                <div class="title bold" v-if="!lang">О нас</div>
                <div class="title bold" v-if="lang">About us</div>
                <p class="desc" v-if="!lang">
                  Tsarr group - это дом для творческой семьи, объединает которую страсть к экспериментам, стремление к новым достижениям, любовь к общему делу. Каждый из нас вносит свой вклад и принимает участие в разработке проекта, при этом вдохновляясь идеями друг друга. Командность, четкость действий приносит невероятные результаты.
                </p>
                <p class="desc" v-if="lang">
                  Tsarr group is a home for a creative family, which combines passion for experimentation, the pursuit of new achievements, and the love for the common cause. Each of us contributes and participates in the development of the project, while inspiring each other's ideas. Teamwork and the clarity of action brings incredible results.
                </p>
              </div>
              <div class="advantages flex-1 flex">
                <div class="item" v-bind:class="{active : hoverElement == 1}" v-on:mouseover="hover(1)">
                  <div class="text">
                    <span>32</span>
                    <span v-if="!lang">довольных клиентов</span>
                    <span v-if="lang">satisfied customers</span>
                  </div>
                  <div class="bg"></div>
                </div>
                <div class="item" v-bind:class="{active : hoverElement == 2}" v-on:mouseover="hover(2)">
                  <div class="text">
                    <span>100%</span>
                    <span v-if="!lang">выполненных задач</span>
                    <span v-if="lang">of completed task</span>
                  </div>
                  <div class="bg"></div>
                </div>
                <div class="item" v-bind:class="{active : hoverElement == 3}" v-on:mouseover="hover(3)">
                  <div class="text">
                    <span>3</span>
                    <span v-if="!lang">года работы</span>
                    <span v-if="lang">years of work</span>
                  </div>
                  <div class="bg"></div>
                </div>
                <div class="item" v-bind:class="{active : hoverElement == 4}" v-on:mouseover="hover(4)">
                  <div class="text">
                    <span>5</span>
                    <span v-if="!lang">сотрудников</span>
                    <span v-if="lang">employees</span>
                  </div>
                  <div class="bg"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footerr class="invert-white"></Footerr>
    </div>
  </div>
</template>

<script>
  import NavMenu from '@/components/menu/NavMenu'
  import Footerr from '@/components/footer/footer'
  import { mapGetters } from 'vuex'

  export default {
    data () {
      return {
        hoverElement: 2
      }
    },
    components: {
      Footerr,
      NavMenu
    },
    methods: {
      hover (item) {
        this.hoverElement = item
      }
    },
    computed: {
      ...mapGetters([
        'langText',
        'lang'
      ])
    }
  }
</script>

<style lang="scss" scoped>

.about-flex {
  align-items: center;
}

.advantages {
  flex-wrap: wrap;

  .item {
    width: 50%;
    min-height: 200px;
    border: 1px solid #8E8D93;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1px;
    margin-left: -1px;
    position: relative;

    .text {
      position: relative;
      z-index: 2;

      span {
        display: block;
        text-align: center;
      }
      span:first-child{
        font-size: 30px;
        font-family: 'Russo One';
      }
      span:last-child{
        font-size: 14px;
        opacity: .8;
      }
    }
    .bg {
      position: absolute;
      background-color: #E4306D;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .2s;
      z-index: 1;
      box-shadow: 3px 3px 22px rgba(#000, .7);
    }

    &.active {
      .bg {
        top: -2%;
        left: -2%;
        width: 104%;
        height: 104%;
        opacity: 1;
      }
    }
  }
}

  .about-container {
    display: flex;
    flex : 1;
    min-height: 100%;
    flex-direction: column;

    .content {
      min-height: 500px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
    }
  }

  .about-container {
    background-color: #1D1B26;
  }

  .container {
    width: 100%;
    padding: 0 50px;
    max-width: 1200px;
  }

  .content {
    color: #fff;
    text-align: left;

    .about {  
      padding-top: 10px;
      margin: 0 auto;
      width: 100%;
      
      .title {
        font-size: 30px;
        display: inline-block;
        position: relative;
        line-height: 1.1;
        padding-right: 50px;

        &:before {
          content: '';
          position: absolute;
          right: 0;
          top: 15px;
          width: 30px;
          height: 1px;
          background-color: #E4306D;
          opacity: .5;
        }
      }
     
      .desc {
        width: 80%;
        display: block;
        padding-top: 10px;
        font-size: 14px;
        opacity: .8;
      }
    }
  }
</style>
