<template>
  <div class="menuHeader flex">
    <div class="item logo">
      <div class="img">
        <router-link to="/">
          <img src="./logo-tsarr.png" alt="">
        </router-link>
      </div>
    </div>
    <div class="item burger-container">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="item nav flex">
      <li>
        <router-link to="/">{{lang ? 'Home' : 'главная'}}</router-link>
      </li>
      <li>
        <router-link to="/services">{{lang ? 'Services' : 'услуги'}}</router-link>
      </li>
      <li>
        <a @click="goToPortfolio()">{{lang ? 'portfolio' : 'портфолио'}}</a>
      </li>
      <li>
        <router-link to="/about">{{lang ? 'About us' : 'О нас'}}</router-link>
      </li>
      <li>
        <router-link to="/contacts">{{lang ? 'contacts' : 'Связь'}}</router-link>
      </li>
      <li @click="changeLang()">
        <a class="lang" href="#">{{lang ? 'rus' : 'eng'}}</a>
      </li>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      menu: false
    }
  },
  methods: {
    changeLang () {
      this.$store.state.languagePack.lang = !this.$store.state.languagePack.lang
    },
    goToPortfolio () {
      let length = this.allPortfolio.length
      let last = this.allPortfolio[length - 1]
      this.$router.push('/portfolio/' + last.code)
    }
  },
  computed: {
    ...mapGetters([
      'lang',
      'allPortfolio'
    ])
  }
}
</script>

<style lang="scss" scoped>

  @media only screen and (max-width : 992px)
    {
      .burger {
        display: flex;
      }
    }
  .burger {
    width: 25px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    span {
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }
  .menuHeader {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 2vw 3vw;
    align-items: center;
    transition: all .3s;

    &.invert-white-right {
      & > div {
        &:last-child {
          filter: brightness(0) invert(1);
        }
      }
    }

    &.hidden-top {
      top: -100%;
    }

    .item {
      min-width: 140px;

      &:last-child {
        text-align: right;
      }

      &.logo {
        position: relative;
        cursor: pointer;

        .img {
          height: 2vw;
          display: block;

          img {
            height: 100%;
          }
        }
        span {
          position: absolute;
          bottom: 0;
          left: 13px;
          color: #fff;
          background-color: #CE9551;
          border-radius: 50%;
          padding: 2px 4px;
          padding-top: 3px;
          font-size: 10px;
          line-height: 1;
        }
      }
    }

    .nav {
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      padding: 0 .8vw;

      li {
        list-style-type: none;

        .lang {
          margin-left: 0;
          padding-left: .6vw;
        }

        &:hover {
          .lang {
            border-bottom: none;

            &:after {
              border-color: #E4306D;
            }
          }
        }

        &:first-child {
          a.router-link-active {
            border: none;
            color: #000;
          }
        }

        a {
          cursor: pointer;
          margin: 0 .5vw;
          padding-bottom: .3vw;
          text-transform: uppercase;
          text-decoration: none;
          color: #000;
          font-size: 1.2vw;
          white-space: nowrap;

          &.router-link-active {
            color: #E4306D;
            border-bottom: .1vw solid #E4306D;
          }

          &:hover {
            color: #E4306D;
            border-bottom: .1vw solid #E4306D;
          }

          &.lang {
            padding-right: .7vw;
            position: relative;

            &:after {
              content: '';
              width: .05vw;
              height: 100%;
              background-color: #333;
              position: absolute;
              left: 0;
              top: 0;
              opacity: .6;
            }
          }
        }
      }
    }
  }
</style>
