<template>
  <div class="div">
    <div class="contacts-container">
      <NavMenu class="invert-white-right"></NavMenu>
      <div class="content">
        <div class="contacts">
          <div class="container">
            <div class="flex contacts-flex">
              <div class="text flex-1">
                <div class="title bold">{{lang ? 'Write us' : 'Напишите нам'}}</div>
                <p class="desc">
                  {{lang ? 'Our family lab is open to new projects, send us your contact details, and we will find an answer to all your questions.' : 'Наша семейная лаборатория открыта к новым проектам, оставте нам свои контактные данные, и мы свяжемся с вами, чтобы ответить на все ваши вопросы.'}}
                </p>
                <div class="forma">
                  <div class="flex">
                    <div class="flex-1">
                      <input type="text" :placeholder="lang ? 'Enter your name' : 'Введите ваше имя'" v-model="formData.name">
                    </div>
                    <div class="flex-1">
                      <input type="text" :placeholder="lang ? 'Your phone number' : 'Ваш телефон'" v-model="formData.phone">
                    </div>
                  </div>
                  <div class="textarea">
                    <textarea name="text" :placeholder="lang ? 'Your message' : 'Ваше сообщение'" v-model="formData.text"></textarea>
                  </div>
                  <div class="button">
                    <p @click="sendForm()">{{lang ? 'send' : 'отправить'}}</p>
                  </div>
                </div>
              </div>
              <div class="links flex-1 flex" v-if="!lang">
                <div class="text bold big"><a href="whatsapp://send?phone=380688096066">+38 (066) 06 46 333</a></div>
                <div class="text">ПОЧТА:</div>
                <div class="text">По вопросам сотрудничества и<br>партнерства пишите нам:</div>
                <div class="text"><a href="mailto:ogdan.tsarik@gmail.com" target="_blank">bogdan.tsarik@gmail.com</a></div>
                <div class="text margin"></div>
                <div class="text">Общие вопросы и тех. поддержка наших <br> клиентов</div>
                <div class="text"><a href="mailto:ogdan.tsarik@gmail.com" target="_blank">bogdan.tsarik@gmail.com</a></div>
                <div class="text">TELEGRAM</div>
                <div class="text"><a href="https://telegram.me/tsarr" target="_blank">telegram.me/tsarr</a></div>
                <div class="text margin"></div>
                <div class="text">ЧАСЫ РАБОТЫ:</div>
                <div class="text">с 10:00 до 18:00</div>
                <div class="text">с понедельника по пятницу</div>
              </div>

              <div class="links flex-1 flex" v-if="lang">
                <div class="text bold big"><a href="whatsapp://send?phone=380688096066">+38 (066) 06 46 333</a></div>
                <div class="text">MAIL:</div>
                <div class="text">For cooperation and partnership:</div>
                <div class="text"><a href="mailto:ogdan.tsarik@gmail.com" target="_blank">bogdan.tsarik@gmail.com</a></div>
                <div class="text margin"></div>
                <div class="text">Customer support</div>
                <div class="text"><a href="mailto:ogdan.tsarik@gmail.com" target="_blank">bogdan.tsarik@gmail.com</a></div>
                <div class="text">TELEGRAM</div>
                <div class="text"><a href="https://telegram.me/tsarr" target="_blank">telegram.me/tsarr</a></div>
                <div class="text margin"></div>
                <div class="text">WORKINH HPURS:</div>
                <div class="text">10a.m - 6p.m</div>
                <div class="text">from Monday till Friday</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footerr class="invert-white-right"></Footerr>
    </div>
  </div>
</template>

<script>
  import NavMenu from '@/components/menu/NavMenu'
  import Footerr from '@/components/footer/footer'
  import { mapGetters } from 'vuex'

  export default {
    data () {
      return {
        formData: {
          name: '',
          phone: '',
          text: ''
        }
      }
    },
    components: {
      Footerr,
      NavMenu
    },
    computed: {
      ...mapGetters([
        'langText',
        'lang'
      ])
    },
    methods: {
      sendForm () {
        if (this.formData.name && this.formData.phone) {
          this.sendTelegrann('<b>новая заявка з сайта: </b> <i>Name - </i><b>' + this.formData.name + ' </b> <i>Phone - </i><b>' + this.formData.phone + '</b> <i>Text - </i><b>' + this.formData.text + '</b>')
        } else {
          if (this.lang) {
            this.$toasted.global.error({
              message: 'You need to fill in all fields!!'
            })
          } else {
            this.$toasted.global.error({
              message: 'Нужно заполнить все поля!!'
            })
          }
        }
      },
      sendTelegrann (data) {
        this.$http.get('https://api.telegram.org/bot548297836:AAHyUVsIk_CIXT7EWoEveqatRpFv_k7WA1k/sendMessage?chat_id=-1001266337966&parse_mode=HTML&text=' + data)
        this.formData.name = ''
        this.formData.phone = ''
        this.formData.text = ''
        if (this.lang) {
          this.$toasted.global.ok({
            message: 'Message sent'
          })
        } else {
          this.$toasted.global.ok({
            message: 'Сообщение отправлено'
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

.links {
  position: relative;
  flex-direction: column;
  padding-left: 50px;
  color: #fff;

  .text {
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.30;

    a {
      color: #fff;
    }

    &.big {
      font-size: 20px;
      margin: 10px 0;

      a {
        text-decoration: none;
      }
    }

    &.margin {
      height: 10px;
    }
  }
}

.forma {
  padding-right: 20px;
  margin-top: 30px;

  .flex-1 {
    &:first-child {
      padding-right: 10px;
    }
    &:last-child {
      padding-left: 10px;
    }
  }

  input, textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(#333,.3);
    padding: 13px;
    box-sizing: border-box;
    outline: none;
    padding-left: 0;
  }

  textarea {
    height: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.contacts-flex {
  align-items: center;
}

  .contacts-container {
    display: flex;
    flex : 1;
    min-height: 100%;
    flex-direction: column;
    position: relative;

    &:before {
      content: '';
      width: 50%;
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
      background-color: #E1215C;
      background-image: url(/static/data/img/bg_contacts.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
    }

    .content {
      min-height: 500px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
    }
  }

  .container {
    width: 100%;
    padding: 0 50px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .content {
    color: #333;
    text-align: left;

    .contacts {  
      padding-top: 10px;
      margin: 0 auto;
      width: 100%;
      
      .title {
        font-size: 30px;
        display: inline-block;
        position: relative;
        line-height: 1.1;
        padding-right: 50px;

        &:before {
          content: '';
          position: absolute;
          right: 0;
          top: 15px;
          width: 30px;
          height: 1px;
          background-color: #E4306D;
          opacity: .5;
        }
      }
     
      .desc {
        width: 80%;
        display: block;
        padding-top: 10px;
        font-size: 14px;
        opacity: .8;
      }
    }
  }
</style>
