<template>
  <div class="wrap">
    <div class="services-container">
      <NavMenu></NavMenu>
      <div class="content">
        <div class="services">
          <div class="container">
            <div class="title bold" v-if="!lang">Наши услуги</div>
            <div class="title bold" v-if="lang">Our services</div>
            <p class="desc" v-if="!lang">В tsarr group мы синтезируем бизнес задачи и маркетинговые цели с креативом и вдохновлением, на выходе получая работающий инструмент. Достигаем успехов благодаря умениям и постоянному развитию в направлениях:</p>
            <p class="desc" v-if="lang">In the tsarr group we synthesize business tasks and marketing goals with creativity and inspiration, getting the working tool on the way out. We achieve success through our skills and constant development in the following areas:</p>
          </div>
        </div>
        <div class="elements">
          <div class="element" v-bind:class="{active : hoverElement == 1}" v-on:mouseover="hover(1)">
            <div class="container">
              <div class="element-container flex">
                <div class="name bold" v-if="!lang">Дизайн сайтов</div>
                <div class="name bold" v-if="lang">Web design</div>
                <div class="realization flex">
                  <div class="item">
                    <div class="img">
                      <img src="./tick-inside-circle.png" alt="">
                    </div>
                    <p>UX, UI</p>
                  </div>
                  <div class="item">
                    <div class="img">
                      <img src="./tick-inside-circle.png" alt="">
                    </div>
                    <p v-if="!lang">Графический дизайн</p>
                    <p v-if="lang">Graphic design</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="element" v-bind:class="{active : hoverElement == 2}" v-on:mouseover="hover(2)">
            <div class="container">
              <div class="element-container flex">
                <div class="name bold" v-if="!lang">Программирование</div>
                <div class="name bold" v-if="lang">Programming</div>
                <div class="realization flex">
                  <div class="item">
                    <div class="item">
                      <div class="img">
                        <img src="./tick-inside-circle.png" alt="">
                      </div>
                      <p>HTML5/CSS3/JavaScript</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item">
                      <div class="img">
                        <img src="./tick-inside-circle.png" alt="">
                      </div>
                      <p v-if="!lang">Адаптивность</p>
                      <p v-if="lang">adaptability</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item">
                      <div class="img">
                        <img src="./tick-inside-circle.png" alt="">
                      </div>
                      <p>VueJs</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item">
                      <div class="img">
                        <img src="./tick-inside-circle.png" alt="">
                      </div>
                      <p>Laravel</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="element" v-bind:class="{active : hoverElement == 3}" v-on:mouseover="hover(3)">
            <div class="container">
              <div class="element-container flex">
                <div class="name bold" v-if="!lang">Мобильная разработка</div>
                <div class="name bold" v-if="lang">mobile development</div>
                <div class="realization flex">
                  <div class="item">
                    <div class="item">
                      <div class="item">
                        <div class="img">
                          <img src="./tick-inside-circle.png" alt="">
                        </div>
                        <p>React Native</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footerr></Footerr>
    </div>
  </div>
</template>

<script>
  import NavMenu from '@/components/menu/NavMenu'
  import Footerr from '@/components/footer/footer'
  import { mapGetters } from 'vuex'

  export default {
    data () {
      return {
        hoverElement: 2
      }
    },
    components: {
      Footerr,
      NavMenu
    },
    methods: {
      hover (item) {
        this.hoverElement = item
      }
    },
    computed: {
      ...mapGetters([
        'lang'
      ])
    }
  }
</script>

<style lang="scss" scoped> 
  
  .elements {
    display: block;
    width: 100%;
    padding: 20px 0;

    .element {
      cursor: pointer;
      .container {
        .element-container {
          flex-direction: row;
          padding: 25px 0;
          .name {
            font-size: 20px;
            width: 300px;
          }
          .realization  {
            display: flex;
            .item {
              display: flex;
              padding-right: 20px;

              .img {
                padding: 0 5px;
                width: 24px;

                img {
                  width: 100%;
                }
              }

              p {
                font-size: 16px;
              }
            }
          }
        }
      }

      &.active {
        background-color: #E4306D;

        .element-container {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .services-container {
    display: flex;
    flex : 1;
    min-height: 100%;
    flex-direction: column;

    .content {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      padding: 0;
    }
  }

  .container {
    width: 100%;
    padding: 0 50px;
    max-width: 1200px;
  }

  .content {
    color: #333;
    text-align: left;

    .services {  
      padding-top: 10px;
      padding-bottom: 30px;
      margin: 0 auto;
      width: 100%;
      
      .title {
        font-size: 30px;
        display: inline-block;
        position: relative;
        line-height: 1.1;
        padding-right: 50px;

        &:before {
          content: '';
          position: absolute;
          right: 0;
          top: 15px;
          width: 30px;
          height: 1px;
          background-color: #E4306D;
          opacity: .5;
        }
      }
     
      .desc {
        width: 80%;
        display: block;
        padding-top: 10px;
        max-width: 600px;
        font-size: 14px;
        opacity: .8;
      }
    }
  }
</style>
