<template>
  <div class="div">
    <div class="home-container">
      <NavMenu class="invert-white"></NavMenu>
      <div class="content">
        <div class="home">
          <div class="title bold" v-if="!lang">Лаборатория <span>
            <vue-typer
              :text='["web","mobile"]'
              :repeat='Infinity'
              :shuffle='false'
              initial-action='erasing'
              :pre-type-delay='305'
              :type-delay='154'
              :pre-erase-delay='3000'
              :erase-delay='0'
              erase-style='select-all'
              :erase-on-complete='false'
              caret-animation='solid'
            ></vue-typer>
          </span></br>разработки</div>
          <div class="title bold" v-if="lang">Laboratory <span>
            <vue-typer
              :text='["web","mobile"]'
              :repeat='Infinity'
              :shuffle='false'
              initial-action='erasing'
              :pre-type-delay='305'
              :type-delay='154'
              :pre-erase-delay='3000'
              :erase-delay='0'
              erase-style='select-all'
              :erase-on-complete='false'
              caret-animation='solid'
            ></vue-typer>
          </span></br>development</div>
          <p> {{lang ? 'Digital experiments, bold cases are what makes our work special. We help our clients bring ideas into real projects' : 'Digital-експерименты, смелые кейсы - это то, что делает наши работы особенными. Мы помагаем своим клиентам воплощать идеи в реальные проекты.'}}</p>
          <div class="button">
            <p @click="goToPortfolio()"> {{lang ? 'take a look' : 'посмотрите сами'}}</p>
          </div>
        </div>
      </div>
      <Footerr class="invert-white"></Footerr>
    </div>
  </div>
</template>

<script>
  import NavMenu from '@/components/menu/NavMenu'
  import Footerr from '@/components/footer/footer'
  import { VueTyper } from 'vue-typer'
  import { mapGetters } from 'vuex'

  export default {
    components: {
      Footerr,
      NavMenu,
      VueTyper
    },
    // mounted () {
    //   this.langActive()
    // },
    methods: {
      goToPortfolio () {
        let length = this.allPortfolio.length
        let last = this.allPortfolio[length - 1]
        this.$router.push('/portfolio/' + last.code)
      }
    },
    computed: {
      ...mapGetters([
        'allPortfolio',
        'lang'
      ])
    }
  }
</script>

<style lang="scss" scoped>

.vue-typer {
  filter: brightness(0) invert(1);
}

  .home-container {
    display: flex;
    flex : 1;
    min-height: 100%;
    flex-direction: column;

    .content {
      min-height: 500px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      background-color: rgba(29,27,38,.7);
    }
  }

  .home-container {
    background-image: url(/static/data/img/bg_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content {
    color: #fff;
    text-align: left;
    padding: 0 8vw;

    .home {
      padding-top: 2vw;
      padding-bottom: 6vw;
      width: 100%;
      // max-width: 1200px;
      margin: 0 auto;

      .title {
        font-size: 5vw;
        line-height: 1.1;

        span {
          font-style: italic;
          font-family: 'Arsenal';
          font-weight: 900;
        }
      }

      .button {
        padding-left: 10%;
        padding-top: 2vw;
      }

      & > p {
        width: 60%;
        padding-top: 2vw;
        max-width: 500px;
        padding-left: 10%;
        font-size: 1.3vw;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2.6vw;
          width: 10%;
          height: .1vw;
          background-color: #fff;
          opacity: .5;
        }
      }
    }
  }
</style>
