<template>
	<div class="footer">
      <div class="wrap flex">
        <div class="flex-2 flex app-footer">
          <div class="copyright">
          	All rights reverved © Copyright 2018
          </div>
        </div>
        <div class="flex-3 flex">
          <div class="icons flex">
          	<a href="https://vk.com/tsarr" target="_blank" class="item">
          		<img src="./vk-social-network-logo.png" alt="">
          	</a>
          	<a href="https://telegram.me/tsarr" target="_blank" class="item">
          		<img src="./telegram.png" alt="">
          	</a>
          	<a href="whatsapp://send?phone=380688096066" target="_blank" class="item">
          		<img src="./whatsapp.png" alt="">
          	</a>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    // mix the getters into the computed object
    ...mapGetters([
      // 'cartCount'

    ])
  }
}
</script>

<style lang="scss" scoped>
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 3vw;
	transition: all .3s;

	&.invert-white-right {
		.icons {
			filter: brightness(0) invert(1);
		}
	}

	&.hidden-bottom {
		bottom: 100%;
	}

	.wrap {
		padding: 1vw 0;

		.app-footer {
		  .copyright {
		  	font-size: 1vw;
		  }
		}
	  .icons {
	  	width: 100%;
	  	justify-content: flex-end;

	  	.item {
	  		width: 1.3vw;
	  		margin-left: .8vw;
	  		opacity: 0.6;

	  		img {
	  			width: 100%;
	  		}
	  	}
	  }
	
	}
}
</style>
