<template>
<div class="app">
  <div class="container-box flex">

    <div class="content-page">
      <div class="wrap-container">
        <!-- <div class="">
          <div class="" v-for="item in portfolio">
            {{item.name}}
          </div>
        </div> -->
        <transition :name="transitionName">
          <router-view class="child-view"></router-view>
        </transition>
      </div>
    </div>
  </div>

  <!-- <div class="popups-block">
    <PopupHairstyles></PopupHairstyles>
  </div> -->

</div>
</template>

<script>
// import Firebase from 'firebase'
// import 'Firebase/firestore'
//
// let config = {
//   apiKey: 'AIzaSyDCbGEXf9tiKYdfMhIcoBvuividgA_CLho',
//   authDomain: 'tsarr-51c09.firebaseapp.com',
//   databaseURL: 'https://tsarr-51c09.firebaseio.com',
//   projectId: 'tsarr-51c09',
//   storageBucket: 'tsarr-51c09.appspot.com',
//   messagingSenderId: '693778898120'
// }
//
// let app = Firebase.initializeApp(config)
// let db = app.database()
// let portfolioRef = db.ref('portfolio')
// let fs = Firebase.firestore()

export default {
  data () {
    return {
      transitionName: 'slide-left'
    }
  },
  // firebase: {
  //   portfolio: portfolioRef
  // },
  methods: {
    analytics () {
      this.$ga.page(this.$router)
    }
    // getAllPortfolio () {
    //   // this.$http.get('http://tsarr.pro/data/portfolio/data.json').then(response => {
    //   this.$http.get('http://api.tsarr.pro/api/1.1/tables/portfolio/rows').then(response => {
    //     this.$store.state.products.portfolioItems = response.body.data
    //     this.$store.state.products.portfolioItemsLength = response.body.data.length
    //     if (this.$route.params.name) {
    //       this.noSearch(response.body.data)
    //     }
    //   }, response => {
    //     // error callback
    //   })
    // },
    // noSearch (data) {
    //   let code = this.$route.params.name
    //   let goToHome = true
    //   for (var i = 0; i < data.length; i++) {
    //     if (data[i].code === code) {
    //       goToHome = false
    //     }
    //   }
    //   if (goToHome) {
    //     this.$router.push('/')
    //   }
    // }
  },
  watch: {
    '$route' (to, from) {
      const toDepth = to.name
      const fromDepth = from.name
      this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
      this.analytics()
    }
  }
}
</script>

<style lang="scss">

  @import 'scss/base.scss';

  .content-page {
    display: flex;
    flex : 1;
    height: 100%;

    .wrap-container {
      min-height: 500px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
    }
  }

  body {
    background-color: #fff;
    font-family: 'Arsenal', sans-serif;
    overflow-x: hidden;
  }

  .container-box {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s;

    &.blur {
      filter: blur(5px);
    }

    .wrap-container {
      padding: 6vw 8vw;
    }
  }



</style>
