<template>
  <div class="div">
    <NavMenu class="invert-white" :class="{'hidden-top' : aboutOpen}"></NavMenu>
    <div class="content flex fdr" :class="{open : aboutOpen}">
      <div class="project" :style="{ backgroundImage: 'url(' + product.img + ')' }">
        <div class="portfolio-container">
          <div class="nav-slider" :class="{'hidden-left' : aboutOpen}">
            <div class="nav-arrow nav-left">
              <p @click="navPortdolio(false)">{{lang ? 'previous' : 'предыдущий'}}</p>
            </div>
            <div class="nav-arrow nav-right">
              <p @click="navPortdolio(true)">{{lang ? 'next' : 'следующий'}}</p>
            </div>
          </div>
          <div class="portfolio">
            <div class="title bold"><span>{{ product.id }}</span> {{product.name}} {{ lang ? product.title_ru : product.title_en }}</div>
            <p>{{ lang ? product.desc_en : product.desc_ru }}</p>
            <div class="button" v-if="product.link">
              <p><a :href="product.link" target="_blank">{{lang ? 'see project' : 'Посмотреть проект'}}</a></p>
            </div>
            <div class="button">
              <p class="more" v-if="!aboutOpen && product.content === 1" @click="aboutProject()">{{lang ? 'more' : 'подробнее'}}</p>
              <p class="more" v-if="aboutOpen && product.content === 1" @click="aboutProject()">{{lang ? 'back' : 'назад'}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="about">
        <transition name="fade">
          <div class="wrap-content content-text" v-if="aboutOpen" v-html="product.content_box">
          </div>
        </transition>
      </div>
    </div>
    <Footerr class="invert-white" :class="{'hidden-bottom' : aboutOpen}"></Footerr>
  </div>
</template>

<script>
  import NavMenu from '@/components/menu/NavMenu'
  import Footerr from '@/components/footer/footer'
  import { mapGetters, mapState } from 'vuex'

  export default {
    components: {
      Footerr,
      NavMenu
    },
    data () {
      return {
        transition: 'slide-right',
        aboutOpen: false
      }
    },
    mounted () {
      // this.getAllPortfolio()
    },
    computed: {
      ...mapState('portfolio', ['portfolio']),
      ...mapGetters([
        'lang',
        'allPortfolio'
      ]),
      product () {
        return this.portfolio[0]
      },
      productImg () {
        if (this.product && this.product.img && this.product.img.data) {
          return this.product.img.data.url
        }
      }
    },
    methods: {
      aboutProject () {
        this.aboutOpen = !this.aboutOpen
      },
      navPortdolio (x) {
        let code = this.$route.params.name
        let pos = null
        for (var i = 0; i < this.allPortfolio.length; i++) {
          if (this.allPortfolio[i].code === code) {
            pos = i
          }
        }
        if (x) {
          if (pos < (this.allPortfolio.length - 1)) {
            this.$router.push('/portfolio/' + this.allPortfolio[pos + 1].code)
          } else {
            this.$router.push('/portfolio/' + this.allPortfolio[0].code)
          }
          this.transition = 'slide-right'
        } else {
          if (pos > 0) {
            this.$router.push('/portfolio/' + this.allPortfolio[pos - 1].code)
          } else {
            this.$router.push('/portfolio/' + this.allPortfolio[this.allPortfolio.length - 1].code)
          }
          this.transition = 'slide-left'
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .nav-slider {
    margin-bottom: 50px;
    position: relative;
    left: 0;
    transition: all .3s;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    & > div {
      display: inline-block;
      border: 1px solid rgba(#fff,.5);
      border-radius: 6px;
      color: #fff;

      a, span, p {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding: 5px 10px;
        display: inline-block;
        cursor: pointer;
      }

      &:first-child {
        margin-right: 10px;
      }
    }

    &.hidden-left {
      left: -100%;
    }
  }
  .vue-typer {
    filter: brightness(0) invert(1);
  }

  .portfolio-container {
    display: flex;
    flex : 1;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    padding: 0 50px;

    .content {
      min-height: 500px;
      display: flex;
      flex: 1;
      // justify-content: center;
      // flex-direction: column;
      overflow: hidden;
      width: 100%;
    }
  }

  .project {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
  }
  .portfolio-container {
    background-color: rgba(#1D1B26,.7);
    justify-content: center;
    display: flex;
  }

  .content {
    color: #fff;
    text-align: left;
    justify-content: flex-start;

    .project {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      transition: all .3s;
    }

    .about {
      width: 0;
      height: 100vh;
      overflow: hidden;
      overflow-y: auto;
      color: #4a4a4a;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: 0;
      font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      transition: all .3s;
    }

    .portfolio {
      padding-top: 10px;
      padding-bottom: 80px;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;

      .title {
        font-size: 50px;
        line-height: 1.1;

        span {
          padding-right: 5px;
        }
      }

      .button {
        padding-top: 30px;

        &:first-child {
          padding-left: 10%;
        }
      }

      & > p {
        width: 60%;
        padding-top: 20px;
        max-width: 500px;
        padding-left: 10%;
        opacity: .7;
        font-size: 18px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 30px;
          width: 10%;
          height: 1px;
          background-color: #fff;
          opacity: .5;
        }
      }
    }

    &.open {
      .project {
        width: 40vw;
        min-width: 400px;
      }
      .about {
        width: 60vw;
        padding: 2vw;
      }
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
