<template>
  <div class="div">
    <div class="home-container">
      <NavMenu class="invert-white"></NavMenu>
      <div class="content">
        <div class="home">
          <div class="title bold">
            {{lang ? '404' : '404'}}
          </div>
        </div>
      </div>
      <Footerr class="invert-white"></Footerr>
    </div>
  </div>
</template>

<script>
  import NavMenu from '@/components/menu/NavMenu'
  import Footerr from '@/components/footer/footer'
  import { mapGetters } from 'vuex'

  export default {
    components: {
      Footerr,
      NavMenu
    },
    // mounted () {
    //   this.langActive()
    // },
    computed: {
      ...mapGetters([
        'lang'
      ])
    },
    created () {
      setTimeout(() => { window.location.href = '/' }, 4000)
    }
  }
</script>

<style lang="scss" scoped>

.vue-typer {
  filter: brightness(0) invert(1);
}

  .home-container {
    display: flex;
    flex : 1;
    min-height: 100%;
    flex-direction: column;

    .content {
      min-height: 500px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
    }
  }

  .home-container {
    background-image: url(/static/data/img/bg_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content {
    color: #fff;
    text-align: left;
    padding: 0 8vw; 

    .home {  
      padding-top: 2vw;
      padding-bottom: 6vw;
      width: 100%;
      // max-width: 1200px;
      margin: 0 auto;
      
      .title {
        font-size: 5vw;
        line-height: 1.1;

        span {
          font-style: italic;
          font-family: 'Arsenal';
          font-weight: 900;
        }
      }
      
      .button {
        padding-left: 10%;
        padding-top: 2vw;
      }

      & > p {
        width: 60%;
        padding-top: 2vw;
        max-width: 500px;
        padding-left: 10%;
        font-size: 1.3vw;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2.6vw;
          width: 10%;
          height: .1vw;
          background-color: #fff;
          opacity: .5;
        }
      }
    }
  }
</style>
